#homescreen {
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: lato;
  }
  .navbar {
    // position: absolute;
    width: 80vw;
    display: flex;
    left: 138px;
    top: 118px;
    margin: 0 auto;
    padding: 10px 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbarcontent {
    display: flex;
    gap: 24px;
    list-style: none;
  }
  .home {
    width: 80vw;
    height: 80vh;
    border-radius: 40px;
    margin: 0 auto;
    margin-bottom: 80px;

    // background: url(swapnil-deshpandey-ePyY_T5d6RI-unsplash.jpg);
    background-image: url("./assests/Lotus.jpg");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;

    // background-color: #ffffff;
  }
  .heading {
    font-family: Lato;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
  }
  .container {
    color: var(--primary-color);
  }
  .navcontent {
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
  .navcontent1 {
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
  .tophead {
    position: absolute;
    width: 50vw;
    height: 150px;
    left: 205px;
    top: 78%;
    left: 20%;
    background: #ffffff;
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(132, 114, 114, 0.25);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  .ultimate {
    font-family: Lato;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 38px;
    margin: 0 auto;
    color: black;
  }
  .places {
    font-family: Lato;
    font-size: 56px;
    font-weight: 800;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    gap: 2px;
  }
  .location {
    margin: 0 auto;
    width: 50%;
    font-family: lato;
  }
  .date {
    border-left: 1px solid black;
    margin: 0 auto;
    width: 50%;
  }
}
